In [1]:
import coinsleuth as aglz # Dedicated to my students Abby, Grace, Lulu, and Zoe

aglz.initialize_sleuthbuilder()

# aglz.set_multithreading(True)


# N = 32 # Sequence length
# sample_size = 10000
# sample_df = aglz.generate_sample_df(sample_size, N)

# trials = 100
# statistic = 'p_value'
# aglz.calculate_moes(N, sample_size, statistic)
# sampling_distribution = aglz.build_sampling_distribution(trials, sample_size, N, statistic)
# experimental_data = aglz.analyze_sequences_from_csv('data/experimental_data.csv')
# data = aglz.plot_population_distribution(N, 'p_value', num_bins=20)

# test_string = "11101011000011101011000101000100"
# aglz.analyze_sequence(test_string)

aglz.set_multithreading(False)

data = aglz.analyze_sequences_from_csv('data/master.csv')

data

Ultimate Sleuthbuilder ready!

,name,age,sequence,chi_squared,log_chi_squared,p_value
0,zoe,17,00111110010100001110010000111110,8.785360,0.943760,0.318051
1,lulu,17,00101110100010110110000011100101,2.776827,0.443549,0.861905
2,abby,17,11010010001101100001110101001100,2.940458,0.468415,0.827307
3,grace,17,11101011000011101011000101000100,3.478782,0.541427,0.787708
4,consortium,12,11101001111100100001101001010010,1.990903,0.299050,0.964313
5,consortium,12,11001010010010111011000101000010,2.534041,0.403814,0.894246
6,consortium,12,00010110100110101110000110100100,2.024237,0.306261,0.957467
7,consortium,12,01000101101110101001110101001101,7.349376,0.866250,0.406082
8,consortium,12,01001110011101101011000100111000,6.825312,0.834123,0.441712
9,consortium,12,00101110100110111100001011001110,2.219050,0.346167,0.930548
10,consortium,12,10010110100011010011101010010111,4.942959,0.693987,0.616311
11,consortium,12,00100111001010101010010101100100,9.349376,0.970783,0.290798
12,consortium,12,00101110101001101000110101100001,2.534041,0.403814,0.894246
13,consortium,12,10011011000110010001011001011001,7.665775,0.884556,0.375842
14,consortium,12,10010011010110011001100111010001,7.665775,0.884556,0.375842
15,consortium,12,11010001011001111000010011100101,2.219050,0.346167,0.930548
16,consortium,12,00110110011000011010111001001111,7.585360,0.879976,0.383644
17,consortium,12,00101100101001000100011010011010,5.319964,0.725909,0.565745