In [ ]:
import ultimate_sleuthbuilder as usb

usb.get_summary(32)

In [3]:
import coinsleuth as algz # Dedicated to my students Abby, Grace, Lulu, and Zoe

algz.initialize_sleuthbuilder()

Database loaded into memory.

In [2]:
experimental_sample_analysis = algz.analyze_sequences_from_csv('data/experimental_data.csv')
algz.test_sample(experimental_sample_analysis)

         test_stat       p_value
0      chi_squared  9.977684e-01
1  log_chi_squared  2.210302e-04
2          p_value  7.577320e-05
3          max_run  1.145056e-07
4          avg_run  2.753474e-05

In [6]:
# N = 32
# sample_size = 100000
random_sample_analysis = algz.generate_sample_df(sample_size=10**4, N=32)
algz.test_sample(random_sample_analysis)

         test_stat   p_value
0      chi_squared  0.999588
1  log_chi_squared  0.303428
2          p_value  0.216806
3          max_run  0.378357
4          avg_run  0.191487