In [ ]:
import ultimate_sleuthbuilder as usb

usb.get_summary(32)

In [1]:
import coinsleuth as algz # Dedicated to my students Abby, Grace, Lulu, and Zoe

algz.initialize_sleuthbuilder()
algz.set_multithreading(False)

Ultimate Sleuthbuilder ready!
Database loaded into memory.

In [2]:
experimental_sample_analysis = algz.analyze_sequences_from_csv('data/experimental_data.csv')
algz.test_sample(experimental_sample_analysis)

         test_stat       p_value
0      chi_squared  9.977684e-01
1  log_chi_squared  2.210302e-04
2          p_value  7.577320e-05
3          max_run  1.145056e-07
4          avg_run  2.753474e-05

In [3]:
N = 32
sample_size = 100000
random_sample_analysis = algz.generate_sample_df(sample_size, N)
algz.test_sample(random_sample_analysis)

         test_stat   p_value
0      chi_squared  0.966038
1  log_chi_squared  0.229315
2          p_value  0.181511
3          max_run  0.318869
4          avg_run  0.896689